@model Demo.UI.Models.PageModel

    <table id="userTable" class="scrollabe-table">
        <thead>
            <tr>
                <th class="col-sm-1">
                    Id
                </th>
                <th class="col-sm-3">
                    Description
                </th>
                <th class="col-sm-1">
                    Department
                </th>
                <th class="col-sm-2">
                    Rep Name
                </th>
                <th class="col-sm-1">
                    Amount
                </th>
                <th class="col-sm-2">
                    Create Date
                </th>
                <th class="col-sm-2">
                    Begin Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Model.ItemList)
            {
                <tr>
                    <td>
                        <div class="ModelCode">
                            @item.ItemId
                        </div>
                    </td>
                    <td>
                        <div class="ModelDescription">
                            @item.ItemName
                        </div>
                    </td>
                    <td>
                        <div class="ModelStatus">
                            @item.Organization
                        </div>
                    </td>
                    <td>
                        <div>
                            @item.POCName
                        </div>
                    </td>
                    <td>
                        <div>
                            @string.Format("{0:c}", item.Price)
                        </div>
                    </td>
                    <td>
                        <div>
                            @string.Format("{0:MMM yyyy}", item.DateEstablished)
                        </div>
                    </td>
                    <td>
                        <div class="ModelStatus" data-status="@(item.DateBegin<DateTime.Now ?"false" :"true")" style="color: @(item.DateBegin < DateTime.Now ? "red;" : "black;") ">
                            @string.Format("{0:MMM yyyy}", item.DateBegin)
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
